  :root{
  --main-color:#D23352; 
  --section-color:#f6f6f6;
  --dark-mode: #23272A;
  }
  .main-color{
  color:var(--main-color) !important
  }
  .bg-main{
  background-color:var(--main-color) !important
  }

  html,
  body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif !important;}

  a {
  color: inherit;
  text-decoration: none;
  }
  * {
  box-sizing: border-box;
  }
  button , input, a{
  box-shadow: none !important;
  }
  /* dark mode  */
  /* dark mode for navbar  */
  .dark .navbar{
  background-color: var(--dark-mode) !important;
  }
  .dark .logo{
  color: #fff;
  }
  .dark .nav-link{
  color: #fff !important;
  }
  .dark .links a{
  color: #fff ;
  }
  .dark .dark{
  color: #fff;
  }
  .dark .navbar-toggler{
  background-color: #fff;
  }
  .dark .offcanvas {
  background-color: var(--dark-mode);
  }
  .dark .offcanvas .form-control:focus{
  background-color: var(--dark-mode);
  color: #fff !important;
  }
  .dark .btn-close {
  background-color: #fff !important;
  }
  /* dark mode for navbar  */
  /* dark mode for header  */
  .dark header{
  background-color: var(--dark-mode)
  }
  .dark header .btn-cv{
  border :1px solid #fff;
  } 
  .dark header .btn-cv:hover{
  color: #fff !important; 
  } 
  .dark header .text{
  color: #fff;
  }
  /* dark mode for header  */
  /* dark mode for portfolio */
  .dark .portfolio {
  background-color: var(--dark-mode);
  }
  .dark .portfolio .all-projects button{
  color: #fff !important;
  }
  .dark .portfolio .all-projects button.active{
  color: var(--main-color) !important;
  }
  .dark .portfolio .section-title h2 {
  color: #fff ;
  }
  .dark .portfolio .section-title h2::after {
  background-color: #fff ;
  }

  /* dark mode for portfolio */
  /* dark mode for about  */
  .dark .about{
  background-color: var(--dark-mode);
  color: #fff !important;
  }
  .dark .about .section-title h2::after{
  background-color: #fff ;
  }
  .dark .about .section-title:hover h2::after{
  background-color: var(--main-color) ;
  }
  .dark .about .text{
  background-color: #282d30 !important;
  color: #fff !important;

  }
  .dark .about .text .about-me{
  color: rgba(255, 255, 255, 0.753) !important;

  }
  .dark .about .skills .box {
  background-color: #282d30;
  color:#fff;
  }
  /* dark mode for about  */

  /* dark mode for contact  */
  .dark .contact {
  background-color: var(--dark-mode);
  }
  .dark .contact_option{
  background-color: #282d30 !important;
  border: none !important;
  }
  .dark .contact_option:hover{
  background-color: rgb(52, 58, 62) !important;
  }
  .dark .contact h2,
  .dark .contact .contact_option p,
  .dark .contact .contact_option h3
  {
  color: #fff !important;
  }
  .dark form input , 
  .dark form textarea{
  background-color:rgb(52, 58, 62) ;
  color: #fff !important;
  }
  /* dark mode  */
  /* navbar */
  .navbar{
  box-shadow:0 10px 15px rgb(25 25 25 / 10%);
  flex-wrap: nowrap;
  }
  .logo{
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  }
  .dark .logo:hover{
  color:#fff ;
  }
  .logo>span {
  color: var(--main-color);
  }
  .nav-link{
  font-size: 18px;
  color: #222 !important;
  font-weight: 600;;
  letter-spacing: 1.6; 
  }
  .links a{
  transition: 0.3s;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
  }
  .links button {
  margin-top: -3px;
  }
  .navbar-nav a:hover{
  color: var(--main-color) !important;
  }
  .links a:hover,
  .navbar-nav a:hover{
  color: var(--main-color) !important;
  }
  .nav .active,
  .navbar-nav .active {
  color: var(--main-color) !important;
  }
  @media (max-width:991px) {

  .links a{
  display: none !important;
  }
  }
  @media (min-width:991px) {

  .navbar-toggler {
  display: none !important;
  }
  }

  .search button{
  background-color: var(--main-color);
  font-size: 20px;

  }
  .search button:hover{
  color:#fff !important;
  background-color: #cf0516 !important;
  }
  .form-control:focus{
  border: 1px solid var(--main-color) !important;
  }
  /* navbar */
  /* header  */
  .header{
  background-color:var(--section-color)!important ;
  }
  header{
  min-height: calc(100vh - 90px);
  }
  header .text h1{
  font-weight: 700;
  text-shadow: 2px 1px 1px black;
  }
  @media (max-width:380px) {
  header img{
  padding-top: 25px !important;
  padding: 25px !important;
  width: 250px !important;
  height: 250px !important;
  }
  }
  @media (max-width:767px) {
  header .image{
  margin-top: 10px;
  width: 350px;
  height: 350px;
  }
  header img{
  padding: 20px !important ;
  }
  header .image>span{
  margin-top:15px !important;
  }

  }
  @media (max-width:767px) {
  header .text h1 {
  font-size: 2rem;
  }
  }
  header .text span{
  color: var(--main-color);
  }
  header .btn-portfolio{
  width: fit-content;
  background-color: var(--main-color);
  color: #fff !important;
  transition: 0.3s;

  }
  header .btn-cv{
  background-color: var(--dark-mode);
  color: #fff !important;
  transition: 0.3s;
  }
  header .btn-cv:hover{
  color: var(--dark-mode) !important;
  background-color:transparent !important;
  }
  header .btn-portfolio:hover{
  color: var(--main-color) !important;
  background-color: #fff var(--section-color);
  }
  .facebook , .twitter, .instagram, .github{
  transition: 0.3s;
  }
  header .icons{
  margin-left: -15px;
  }
  header .icons .facebook:hover{
  color: #4267B2 !important;
  }
  header .icons .twitter:hover{
  color: #00acee !important;
  }
  header .icons .instagram:hover{
  color: #E1306C !important;
  }
  header .icons .github:hover{
  color: #171515 !important;
  }
  /* header  */
  /* portfolio */
  .portfolio {
  min-height: calc(100vh - 80px);
  }
  .section-title p{
  color: var(--main-color);
  }
  .section-title h2{
  position: relative;
  }
  .section-title h2::after{
  content: '';
  position: absolute;
  width: 10%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--dark-mode);
  bottom: -2rem;
  transition: 0.3s;
  }
  .section-title:hover h2::after{
  width: 15%;
  background-color: var(--main-color);
  }
  .portfolio .all-projects{
  flex-wrap: wrap;
  }
  .portfolio .all-projects button{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  border-radius: 0;
  white-space: nowrap;
  transition: 0.3s;
  }
  .portfolio .all-projects button:hover{
  color: var(--main-color) !important;
  }
  .all-projects button.active{
  color: var(--main-color) !important;
  border-bottom: 2px solid var(--main-color) !important;
  }
  .portfolio .box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  }
  .portfolio .box img{
  object-fit: cover;
  filter: blur(0x);
  transition: 0.6s;
  }
  .portfolio .box:hover img{
  filter: blur(4px);
  }
  .portfolio .box img{
  border-radius: 10px;
  }
  .portfolio .box .theTitle{
  position: absolute;
  background-color:var(--main-color);
  font-size: 16px;
  top: -25px;
  opacity: 0;
  border-radius: px;
  transition: 0.6s;
  }

  .portfolio .box .title{
  position: absolute;
  font-size: 14px;
  background-color: var(--main-color);
  color: #fff !important;
  transition: 0.3s;
  bottom: -100px ; 
  }
  .portfolio .box:hover .title{
  bottom:20%;
  }
  .portfolio .box:hover .theTitle {
  top: 0;
  left: 0;
  opacity: 1;
  }
  .portfolio .box .title:hover{
  background-color: #d13945;
  }
  /* portfolio */
  /* contace me  */
  .contact {
  min-height: calc(100vh - 89px);
  background-color: var(--section-color);
  }
  .contact .contact_option{
  background-color: #fff;
  border-radius: 14px;
  transition: 0.3s;
  padding:14px 0!important;
  }
  .contact .contact_option:hover{
  background-color: #eee ;
  }
  .contact .contact_option svg{
  color: var(--main-color);
  font-size: 22px;
  }
  .contact form input:first-of-type, 
  .contact form textarea{
  text-transform: capitalize;
  }
  .contact form input , .contact form textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #dbdbdb ;
  resize: none;
  background-color: transparent !important;
  }
  .contact form button:hover{
  background-color: #c73b46 !important;
  }
  .contact form input:focus , .contact form textarea:focus{
  border: 2px solid #dbdbdb !important;
  outline: none;
  }

  /* contace me  */
  /* About me  */

  .about{
  min-height: 100vh;
  background-color: var(--section-color);
  }
  .about .text{
  background-color:#fff;
  color: var(--dark-mode) !important;
  border-radius: 14px;
  padding: 20px;
  }
  @media (max-width:991px) {
  .about .text {
  width: 100%;
  margin-top: 14px;
  order: 1;
  }
  .about .img {
  width: 100%;
  }
  }
  .about .text .about-me{

  color: rgba(0, 0, 0, 0.75) !important;;
  }
  @media (max-width:991px) {
  .about .about-content {
  align-items: center ;
  }
  }
  .about .text p{
  font-weight: 600;
  }
  .about .img img{
  border-radius: 50%;
  }
  .about .skills .box{
  background-color: #fff;
  color: var(--dark-mode);
  border-radius: 14px;
  }
  .about .skills .box svg{
  color:var(--main-color);
  }
  .about .skills .my-technology p{
  white-space: nowrap;
  }
  /* About me  */

  /* footer  */
  footer{
  background-color: #191d20;
  font-size: 14px;
  }
  footer .copy-right{
  color: #eee;
  }
  footer .icons a:nth-child(1) svg {
  color: #4267B2 !important;
  }
  footer .icons a:nth-child(2) svg {
  color: #00acee !important;
  }
  footer .icons a:nth-child(3) svg {
  color: #0072b1 !important;
  }
  footer .icons a:nth-child(4) svg {
  color: #0072b1 !important;
  }
  footer .icons a:nth-child(5) svg {
  color: #C13584 !important;
  }
  /* footer  */
